{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div>
    <h3>Login</h3>
</div>
<div>
    <form method="POST" action="/admin/login" enctype="multipart/form-data">
        <div>
            <label for="username">Enter username</label><br>
            <input type="text" name="username" placeholder="Username" required>
        </div>

        <div>
            <label for="password">Enter password</label><br>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }} 
            </div>
        {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}
