{% extends 'base.html' %}

{% block title %}
    {{problem.title}}
{% endblock %}



{% block content %}
    <h1 class="text-center">Problem Detail</h1>
    <h2>{{problem.problem_title}}</h2>
    <br>
    <h2>Description</h2>
    <p>{{problem.problem_description}}</p>
    <br>
    <h2>Solution</h2>
    <p>{{problem.solution}}/</p>
    <br>
    <h2>Image</h2>
    <br><br>
    <p>posted on : {{problem.posted_at}} by: {{problem.posted_by}}</p>

    <a href="/problems/{{problem.id}}/edit">update Problem</a>
{% endblock %}